
        <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/AAycJyR.jpg" alt="Card image cap">            
            <div class="card-block" style="text-align:center">
              <h4 class="card-title">Developers</h4>
              <p class="card-text">Carl Vancluysen</p>
              <p class="card-text">Jonas Luyks</p>
              <a href="https://github.com/JohnBetohn/Luyks_VanCluysen" class="btn btn-primary">GitHub Project</a>
            </div>
          </div>

