
        <div class="card">
            <img class="card-img-top" src="https://media.npr.org/assets/img/2015/03/19/img_7906_custom-c3a12ee893daa5b4528afc9cd3515efb0df2aebf-s300-c85.jpg" width="50%" height="10%" alt="Card image cap">
            <div class="card-block" style="text-align:center">
              <h4 class="card-title">Developers</h4>
              <p class="card-text">Carl Vancluysen</p>
              <p class="card-text">Jonas Luyks</p>
              <a href="https://github.com/JohnBetohn/Luyks_VanCluysen" class="btn btn-primary">GitHub Project</a>
            </div>
          </div>

