<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-8 ">
            <app-dog-park-search></app-dog-park-search>
        </div>
        <div class="col-sm-6 col-md-4">
            <app-dog-park-spotlight></app-dog-park-spotlight>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <app-dog-park-random></app-dog-park-random>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <app-dog-park-map></app-dog-park-map>
        </div>
    </div>
</div>
