<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 ">
            <app-play-area-overview></app-play-area-overview>
        </div>
        <div class="col-sm-6 col-md-6">
            <app-play-area-alerts></app-play-area-alerts>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-8 ">
            <app-play-area-map></app-play-area-map>
        </div>
        <div class="col-sm-6 col-md-6 ">
            <app-play-area-weather></app-play-area-weather>
        </div>
    </div>
  </div>