
<div class="container">
    
    <div class="row">
                    <div class="card">                    
                <h3 class="card-header primary-color white-text">Featured</h3>
                <div class="card-body">
                    <h4 class="card-title">Hondenpark: {{spotlight?.naam}}</h4>
                    <p class="card-text">Adres: {{spotlight?.straatnaam}} <br>
                        District: {{spotlight?.district}} <br>
                        Netheid: {{spotlight?.netheid}} <br>
                        Materiaal: {{spotlight?.materiaal_afsluiting}} </p>
                   <a class="btn btn-primary" name="submitbutton" (click)="Spotlight()" >Show Featured DogArea</a> 
                </div>
            </div>
        </div>
    </div>

