
<!--Panel-->
<div class="card">
        <h3 class="card-header primary-color white-text">Featured</h3>
        <div class="card-body">
            <h4 class="card-title">{{spotlight.naam}}</h4>
            <p class="card-text">Adres: {{spotlight.straatnaam}} <br>
                District: {{spotlight.district}} <br>
                Netheid: {{spotlight.netheid}} <br>
                Bezoekersaantal: {{spotlight.bezoekersaantal}} </p>
            <a class="btn btn-primary" (click)="Spotlight()">Search featured dogpark</a>
        </div>
    </div>
    <!--/.Panel-->
                                