<div class="container">
  <div class="row">

    <div class="col">
      <app-about-us></app-about-us>
    </div>

    <div class="col">
      <style>
        h2 {
          color: brown;
        }

        h5 {
          color: blue;
        }
      </style>
      <h1>Modules:</h1>
      <h2>Carl Vancluysen</h2>
      <h5>Dog Areas</h5>
      <ol>
        <li>Search Table for DogAreas</li>
        <li>Featured DogArea</li>
        <li>Random DogArea + map location</li>
        <li>Get Closest DogArea from current location</li>
      </ol>
      <h2>Jonas Luyks</h2>
      <h5>Play Areas</h5>
      <ol>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
      </ol>
      <h2>Extra</h2>
      Map with locations of both dogareas and playareas
    </div>


  </div>
</div>