                                    
<div class="container">
    <div class="row">
     
      <div class="col">
        <app-about-us></app-about-us>
      </div>
      
      <div class="col">
        Lorem ipsum dolor sit amet, duo no nonumy laudem voluptua, atqui omnesque an cum. Ei consulatu conclusionemque duo, qui ex paulo quodsi alterum. Duo soleat meliore intellegat eu, ad duo tamquam impedit. Prompta fastidii iracundia est ut, qui veri molestie antiopam no. No odio paulo doctus sea, id vidisse dolorum praesent est, mel an rebum nominavi.
        
        Paulo dolorem suscipit nam ad. Ex exerci accumsan sea. Timeam evertitur vituperata sea ex. Te quo dicta comprehensam. Pro id mutat tempor efficiendi, vim et virtute definitiones. Ex eam deseruisse neglegentur, cum cu affert erroribus hendrerit.
        
        Partem admodum nam te, rebum insolens urbanitas vel an. His te porro sanctus facilisi. Pro an vide invidunt. Posse animal vivendo mel ea, timeam dissentiunt nam ea, usu meis diceret et.
        
        Cu vim elit necessitatibus. Apeirian inciderint sit no, et mel albucius expetendis appellantur. Nisl maluisset vulputate qui te, rebum libris incorrupte duo eu. Qui at error voluptua appetere. Sed offendit patrioque quaerendum et, et has offendit scaevola, propriae intellegebat ius ei. Pro ea justo ornatus, mel ea latine prodesset, eam no equidem nominavi mediocrem. Eu consulatu complectitur est, ei est maiorum apeirian aliquando, paulo solet interesset an qui.
        
        Ex iuvaret praesent elaboraret eam. No propriae argumentum per. Possit blandit mediocritatem te vis. His an saepe putent, verear commodo lobortis his ei, solet nostrum definiebas est in. Ius cu iusto libris, elaboraret constituam neglegentur in usu. Tamquam tractatos cu duo, eos integre inermis partiendo ei, ne nisl delenit tractatos per. Te aperiam lobortis patrioque mel, te nonumy consectetuer signiferumque ius.
      </div>
      
      
    </div>
  </div>
