<div class="card">
  <div class="card-header">
    Alerts
  </div>
    <div class="md-form">
        <i class="glyphicon glyphicon-map-marker"></i>
        <input #location type="search" id="id_location" class="form-control" [(ngModel)]="Search" mdbActive>
        <label for="id_location">Search for Alerts</label>
    </div>
  <div class="card-block">
        <button type="button" class="btn btn-primary" value="Search For Alerts" (click)="alertSearch()">Search For Alerts</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Alerts</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let playarea of data">
                <td>{{playarea.naam}}</td>
                <td>{{playarea.straat}} {{playarea.huisnummer}}, {{playarea.district}}</td>
                <td>{{playarea.opmerking}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
